<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>홈페이지</title>
</head>
<body>
    <form action="/login" method="POST">
        <div id="head">
            <h2>로그인 페이지</h2>
        </div>
        <div id="inputID">
            <label>아이디입력:</label>
            <input type="text" name="myID"/>
        </div>
        <div id="inputPW">
            <label>비밀번호입력:</label>
            <input type="text" name="myPW"/>
        </div>
        <div id="btns">
            <button type="submit">로그인 버튼</button>
            <button type="button" onclick="location.href = '/register'">회원가입</button>
            <button>비밀번호 찾기 버튼</button>
        </div>
    </form>
</body>
</html>