<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
</head>
<body>
    <div id="main">
        <div id="input">
            <form action="/send" method="POST">
                <div id="birth">
                    <label>생년월일:</label>
                    <input type="text" name=birth/>
                </div>
                <div id="name">
                    <label>이름:</label>
                    <input type="text" name="name"/>
                </div>
            </form>
        </div>
    </div>
</body>
</html>