<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>유저 관리 페이지</title>
</head>
<body>
    <div id="wrap">
        <div id="header">
        </div>
        <div id="container">
            <table>
                <table width="940" style="padding:5px 0 5px 0;">
                    <tr height="2" bgcolor="#FFC8C3">
                        <td colspan="2"></td>
                    </tr>
                    <tr>
                        예시
                    </tr>
            </table>
        </div>
    </div>
</body>
</html>